<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>adv_gen_2023</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>controller.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/demoservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloController</display-name>
    <servlet-name>HelloController</servlet-name>
    <servlet-class>controller.HelloController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloController</servlet-name>
    <url-pattern>/HelloController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sum</display-name>
    <servlet-name>Sum</servlet-name>
    <servlet-class>controller.Sum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sum</servlet-name>
    <url-pattern>/sum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgeParamController</display-name>
    <servlet-name>AgeParamController</servlet-name>
    <servlet-class>controller.AgeParamController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgeParamController</servlet-name>
    <url-pattern>/ageparamcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendData</display-name>
    <servlet-name>SendData</servlet-name>
    <servlet-class>controller.SendData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendData</servlet-name>
    <url-pattern>/senddata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentController</display-name>
    <servlet-name>AddStudentController</servlet-name>
    <servlet-class>controller.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController</servlet-name>
    <url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController1</display-name>
    <servlet-name>AddProductController1</servlet-name>
    <servlet-class>controller.AddProductController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController1</servlet-name>
    <url-pattern>/AddProductController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentController1</display-name>
    <servlet-name>AddStudentController1</servlet-name>
    <servlet-class>controller.AddStudentController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController1</servlet-name>
    <url-pattern>/AddStudentController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentListController</display-name>
    <servlet-name>StudentListController</servlet-name>
    <servlet-class>controller.StudentListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListController</servlet-name>
    <url-pattern>/StudentListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteController</display-name>
    <servlet-name>StudentDeleteController</servlet-name>
    <servlet-class>controller.StudentDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteController</servlet-name>
    <url-pattern>/StudentDeleteController</url-pattern>
  </servlet-mapping>
</web-app>